# Environment variables example

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vcnyjjnspfvbcpoxuznf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjbnlqam5zcGZ2YmNwb3h1em5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUyMzMwMDIsImV4cCI6MjA2MDgwOTAwMn0.ic0avGEXVFVp4VmYOHBrMPt18YuasGpgy0EfjK0NfHM.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjbnlqam5zcGZ2YmNwb3h1em5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUyMzMwMDIsImV4cCI6MjA2MDgwOTAwMn0.ic0avGEXVFVp4VmYOHBrMPt18YuasGpgy0EfjK0NfHM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjbnlqam5zcGZ2YmNwb3h1em5mIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NTIzMzAwMiwiZXhwIjoyMDYwODA5MDAyfQ.iX5-Xu9Jil9ueEyEuYJ9k2H1jXckgGguqaRJ9hUziI4

# Stripe
STRIPE_SECRET_KEY=pk_live_51Ms1q2LyrpmTrHHwFQw3PLDjduyTJLBI7BHK7hbXQsjTYhvuIDsl0ouJN6jVUppso9ZPbNyMhmgGbV2UiQX2QF9Z00dwdO0Rjf
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-publishable-key
STRIPE_WEBHOOK_SECRET=your-webhook-signing-secret

# App configuration
NEXT_PUBLIC_PRICE_AMOUNT=4.99
